/* @font-face {
    font-family: 'Purisa';
    src: url('../fonts/Purisa.eot'); For IE
    src: local('Purisa'),
         url('../fonts/Purisa.ttf') format('truetype');
} */

html {
   font-family: 'Oswald', GillSans, Calibri, Trebuchet, sans-serif; !important
}

/*
.row-nav {
    min-height: 75px; !important
}
*/

nav ul a {
    font-size: 1.3em; !important
}

a.nav {
    padding: 0 15px; !important

}

div.parallax-blur {
        background-color: rgba(0, 0, 0, 0.7);
}

h1.header {
    font-size: 6rem; !important
    margin-bottom: 100px;
    text-decoration: underline;
    margin-top: 200px; !important



}
h1.header{
    letter-spacing: 3px;

}
.brand-logo {
    letter-spacing: 8px;
}


.nav-ponto {
    vertical-align: super;
}

.justify {
    text-align: justify;
}
